@tailwind base;
@tailwind components;
@tailwind utilities;

.product-list::-webkit-scrollbar {
    display: none;
  }
  
  .product-list::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }